@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@keyframes changeTextThemeAnimation {
  0% {
    opacity: 1;
    top: 17px;
  }
  10% {
    opacity: 0;
    top: 0px;
  }
  85% {
    opacity: 0;
    top: 30px;
  }
  100% {
    opacity: 1;
    top: 17px;
  }
}

@keyframes changeTextThemeAnimation1 {
  0% {
    opacity: 1;
    top: 17px;
  }
  10% {
    opacity: 0;
    top: 30px;
  }
  85% {
    opacity: 0;
    top: 0px;
  }
  100% {
    opacity: 1;
    top: 17px;
  }
}

*{
    user-select: none;
    font-family: "Golos Text" ;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .1s ease-out;
    cursor: default;
}

body {
    min-width: 500px;
    display: inline;
    font-family: Arial, sans-serif;
    text-align: center;
    overflow: hidden;
  }

  #categoriesContainer {
    max-width: 80%;
    margin: 0 auto;
    width: 80%;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .categories {
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
  }
  
  .categories:hover{
    transform: scale(1.02);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  }
  
  .categories img {
    width: 40px;
    height: auto;
  }
  .backDialogWindow, .backLogRegWindow, .backOperationsInfoWindow {
    justify-content: center;
    display: flex;
    top: 0;
    background-color:  0.9;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2; 
    backdrop-filter: blur(10px);
  }

  .confirmButton:hover, .operationConfirmButton:hover{
    scale: 1.02;
    background-color: rgb(0, 255, 0);
    color: #ffffff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  }
  .dialogWindow, .logRegWindow, .operationsItemInfo {
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 5px;
    position: relative;
    top: 200px;
    width: 400px;
    height: 400px;
    position: absolute;
    z-index: 3;
    backdrop-filter: blur(0px);
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 5px 0px rgba(32, 32, 32, 0.5);
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .light-theme .operationsItemInfo:hover, .dark-theme .operationsItemInfo:hover, .light-theme .dialogWindow:hover, .dark-theme .dialogWindow:hover, .dark-theme .logRegWindow:hover, .light-theme .dialogWindow:hover, .light-theme .logRegWindow:hover{
    transition: .2s ease-in-out;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(15px);
  }

  .descriptionInput {
    min-width: 320px;
    min-height: 54px;
    max-width: 380px;
    max-height: 83px;
    margin: 10px;
    width: 80%;
    padding: 10px;
    outline: none;
    border-radius: 5px;
  }
  .dialogWindow h3{
    position: relative;
    width: 100%;
    text-align: center;
    top: -50px;
  }

  .userName {
    position: relative;
    margin: 10px;
  }

  .closeX{
    position: absolute;
    width: 50px;
    right: 0;
    top: 0%;
    padding: 5px;
    margin: 5px;
  }

  .closeX:hover{
    cursor: pointer;
  }

  .priceInput ::placeholder{
    text-align: center;
  }

  h3{
    font-size: 24px;
  }

  p{
    font-size: 20px;
  }

  .myChartContainer {
    margin-top: 40px;
  }

  .dialogWindow > .close, .logRegWindow > .close, .operationsItemInfo > .close{
    right: 0;
    top: 0;
    position: absolute;
    margin: 15px;
    width: 20px;
    height: 20px;
  }

  .dialogWindow img:hover, .logRegWindow img:hover, .operationsItemInfo img:hover{
    cursor: pointer;
    scale: 1.1;
  }

  input, button{
    outline: none;
    border: 1px solid #777777;
    border-radius: 5px;
    background-color: white;
    font-size: 16px;
    padding: 8px;
    margin: 5px;
  }
  
  button:hover{
    cursor: pointer;
  }
  .income {
    display: none;
  }
  
  #sumAmount {
    position: relative;
    top: 0;
  }

  .title {
    margin-top: 60px;
    font-size: 42px;
  }

  .userImg{
    width: 35px;
    height: 35px;
    margin-right: 10px;
  }

  .userImg:hover{
    cursor: pointer;

  }
  .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
  }

  .exitButton:hover, .deleteOperationButton:hover {
    cursor: pointer;
    background-color: rgb(255, 70, 70);
    color: #fff2d7;
  }
  .titleNscore{
    position: relative;
    margin: 0 auto;
    width: 160px;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    padding: 5px;
    user-select: none;
    top: 240px;
  }

  select {
    border-radius: 5px;
    padding: 5px;
  }
  .light-theme .titleNscore:hover{
    scale: 1.05;
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  }
  .dark-theme .titleNscore:hover{
    scale: 1.05;
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.2);
  }
  .light-theme {
    background-color: #fff2d7;
    color: #201c25;
    border: 1px solid #9e9496;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  }

  .dark-theme {
    background: #201c25;
    color: #fff2d7;
    border: 1px solid #514663;
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.2);
  }
   .light-theme .success, .light-theme input, .light-theme button, .light-theme select, .light-theme .categories, .light-theme .headerTitle{
    background: #fbf7f5;
    color: #201c25;
  }
  
  .dark-theme .dialogWindow, .dark-theme .logRegWindow, .dark-theme .operationsItemInfo, .dark-theme .headerTitle, .dark-theme .categories {
    background: #3d35484f;
    color: #fbf7f5;
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0);
  }

  .dark-theme .success, .dark-theme input, .dark-theme button, .dark-theme select {
    background: #3d3548;
    color: #fff2d7;
    border: 1px solid #514663;
  }

  .success {
    cursor: pointer;
    z-index: 2;
    border: 1px solid #acacac;
    width: 300px;
    position: absolute;
    top: -10%;
    left: 10px;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 5px;
  }

  .successImg {
    width: 30px;
    height: 30px;
  }
  @keyframes moveDown {
    0% {
      transform: translateY(-20%);
    }
    20% {
      transform: translateY(100%);
    }
    80% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(-50%);
    }
  }
  
  .success {
    animation: moveDown 4s ease-in-out; /* Анимация будет повторяться бесконечно */
  }

  .loginTitle {
    position: absolute;
    top: 0;
    left: 0;
    margin: 15px;
  }

  .account {
    top: 250px;
    width: 600px;
    height: 400px;
  }
  .exitButton {
    border: #c7c7c7 1px solid;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 15px;
  }
  button:active {
    transform: scale(0.95);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  }
  #changeThemeButton {
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
  }

  .themeImg{
    position: relative;
  }

  .themeImg {
    position: relative;
    width: 20px;
    height: 20px;
    margin-left: -70px;
    transform: rotate(360deg);
    transition: 1s;
  }

  .dark-theme .themeImg {
    position: relative;
    margin-left: 70px;
    transform: rotate(-90deg);
  }

  .dark-theme .themeText {
    animation: changeTextThemeAnimation .7s;
  }

  .light-theme .themeText {
    animation: changeTextThemeAnimation1 .7s;
  }

  .themeText{
    position: absolute;
    font-size: 14px;
    margin: 0 auto;
  }
  
  .backLogRegWindow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    backdrop-filter: blur(5px);
    flex-wrap: nowrap;
    
  }

  .logRegTitle {
    position: relative;
    top: -30px;
  }

  .alreadyReg {
    user-select: none;
    cursor: pointer;
    position: relative;
    top: 30px;
  }

  .alreadyReg:active{
    scale: 0.99;
  }

  .logo{
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    left: -10px;
  }

  .coin {
    right: 5px;
    top: 3px;
    position: absolute;
    width: 28px;
  }

 .coin:hover {
    animation: spin 1s linear infinite;
  }

  .operationsWindow {
    position: absolute;
    height: 911px;
    width: 400px;
    top: 855px;
    left: 0;
    padding: 20px;
    border-right: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    z-index: 2;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  }

  .operationsTitle {
    font-size: 20px;
    position: relative;
    display: block;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
  }

  #operationsContainer {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100px;
    height: 100%;
    overflow: auto;
    background-color: #fff2d7;
    margin: 5px;
  }

  .operationsItemList {
    overflow-y: auto;
    height: 100%;
    padding-bottom: 10px;
  }
  .operationElement {
    position: relative;
    left: 1%;
    width: 98%;
    margin-top: 10px;
    min-height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }

  .light-theme .operationElement:hover {
    background-color: #fbf7f5;
  }

  .dark-theme .operationElement:hover {
    background-color: #3d3548;
  }
  .operationCategoryTitles {
    position: relative;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    margin-top: 25px;
  }

  .operationCategoryTitle {
    position: absolute;
    top: 45px;  
  }
  
  .operationDescription {
    position: absolute;
    bottom: 8px;
    font-size: 14px;
  }

  .operationPrice {
    position: absolute;
    top: 7px;
    left: 180px;
  }

  .operationPriceNegative {
    color: rgb(255, 91, 91);
  }

  .operationPricePositive {
    color: #66ff40;
  }
  
  .operationPriceNeutral {
    color: rgba(0, 0, 0, 0);
  }
  .operationDate {
    position: absolute;
    bottom: 30px;
    left: 10px;
    font-size: 16px;
  }
  .operationTime {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 14px;
  }

  .filters {
    padding-bottom: 10px;
    border-bottom: #ccc 1px solid;
  }

  .noOperations {
    color: #ccc;
  }

  .operationElement:active{
    scale: 0.9;
  }

  .sumAmountTitle {
    position: absolute;
    top: 120px;
    left: 0;
    width: 100%;
    font-size: 28px;
  }

  .dark-theme .sumAmountTitle {
    border-bottom: 1px solid #514663;
    background-color: #18151b;
  }

  .light-theme .sumAmountTitle {
    border-bottom: 1px solid #9e9496;
    background-color: #fff9ea;
  }
  .operationType {
    position: absolute;
    top: 5px;
  }

  .operationPriceTitle {
    position: absolute;
    top: 105px;
  }

  .deleteOperationButton {
    position: absolute;
    bottom: 5px;
    right: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .operationDates {
    font-size: 14px;
    position: absolute;
    bottom: 30px;
    right: 10px;
  }

  .operationTimes {
    font-size: 16px;
    position: absolute;
    bottom: 10px;
    right: 10px;
  }

  .changeLoginButton {
    position: absolute;
    top: 15px;
    left: 240px;
  }

  .changeButtons{
    position: absolute;
    top: 15px;
    left: 240px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 6px;
  }

  .passwordTitle {
    position: absolute;
    top: 55px;
    left: 10px;
  }

  .visiblePasswordButton {
    border: none;
    position: absolute;
    top: 62px;
    left: 185px;
  }

  .phoneTitle {
    position: absolute;
    top: 100px;
    left: 10px;
  }

  .deletedOperationsItemInfo {
    height: 200px;
  }

  .emailTitle {
    position: absolute;
    top: 145px;
    left: 10px;
  }

  input:disabled{
    color: rgb(184, 184, 184);
  }

  .saveChangedButton:hover {
    background-color:#66ff40;
    color: white;
  }
  
  .saveChangedButton{
    position: absolute;
    top: 240px;
    right: 10px;
    border: 1px solid #ccc;
  }
  .birthTitle {
    position: absolute;
    top: 195px;
    left: 10px;
  }

  .nameInputHeaderTitle {
    position: absolute;
    width: 150px;
    text-align: center;
    left: 5px;
    top: 5px;
  }

  .confirmButtonTitle {
    position: absolute;
    top: 5px;
    height: 38px;
    left: 165px;
    width: 40px;
  }

  .confirmButtonTitle:hover {
    background-color:#66ff40;
    color: white;
  }
  
  .confirmButtonTitle{
    position: absolute;
    top: 5px;
    height: 38px;
    left: 165px;
    width: 40px;
  }
 
  .preloaderBg {
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
  }

  .skip {
    margin: 15px;
    background-color: #ffffff;
    position: absolute;
    right: 0;
    bottom: 0%;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
  }

  .skip:hover, .next:hover, .back:hover{
    scale: 1.1;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  }

  .next, .back{
    margin: 35px;
    background-color: #ffffff;
    position: absolute;
    bottom: 50%;
    border-radius: 50%;
    cursor: pointer;
  }

  .next:hover, .back:hover, .skip:hover{
    background-color: #e4e4e4;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  }
  .back {
    left: 0;
  }

  .next {
    right: 0;
  }

  .counter {
    z-index: 6;
    position: absolute;
    bottom: 0;
    right: 50%;
    margin: 15px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    color: white;
    font-size: 30px;
  }
  
  .coinEmoji{
    width: 400px;
    position: absolute;
    top: 40%;
    left: 20%;
    transform: translate(-50%, -50%);
  }
  
  @keyframes coinAnim {
    0% { transform: rotate(-10deg); scale: 1; }
    50% { transform: rotate(10deg); scale: 1.05; }
    100% { transform: rotate(-10deg); scale: 1; }
  }

  @keyframes startAnimCoin {
    0% { opacity: 0; left: 00%; top: 40%;}
    100% { opacity: 1; left: 20%; top: 40%;}
  }

  @keyframes startAnimCoin2 {
    0% { opacity: 1; left: 20%; top: 40%}
    100% { opacity: 1; left: 70%; top: 50%}
  }

  @keyframes startAnimCoin3 {
    0% { opacity: 1; left: 70%; top: 50%}
    100% { opacity: 1; left: 70%; top: 25%}
  }

  @keyframes startAnimCoin4 {
    0% { opacity: 1; left: 70%; top: 25%}
    100% { opacity: 1; left: 10%; top: 35%}
  }

  @keyframes startAnimCoin5 {
    0% { opacity: 1; left: 10%; top: 35%}
    100% { opacity: 1; left: 65%; top: 55%}
  }

  @keyframes startAnimCoin6 {
    0% { opacity: 1; left: 65%; top: 55%}
    100% { opacity: 1; left: 15%; top: 35%}
  }

  @keyframes startAnimCoin7 {
    0% { opacity: 1; left: 15%; top: 35%}
    100% { opacity: 1; left: 20%; top: 25%}
  }

  @keyframes startAnimPhrase {
    0% { opacity: 0; left: 130%; }
    100% { opacity: 1; left: 55%;}
  }

  @keyframes startAnimPhrase2 {
    0% { opacity: 0; left: 80%; top: -40%; }
    100% { opacity: 1; left: 80%; top: 35%; }
  }

  @keyframes startAnimPhrase3 {
    0% { opacity: 0; left: 80%; top: -40%; }
    100% { opacity: 1; left: 80%; top: 15%; }
  }

  @keyframes startAnimPhrase4 {
    0% { opacity: 1; left: -30%; top: 25%; }
    100% { opacity: 1; left: 30%; top: 25%; }
  }

  @keyframes startAnimPhrase5 {
    0% { opacity: 1; left: 50%; top: 150%; }
    100% { opacity: 1; left: 50%; top: 70%; }
  }

  @keyframes startAnimPhrase6 {
    0% { opacity: 1; left: 35%; top: 125%; }
    100% { opacity: 1; left: 35%; top: 90%; }
  }

  @keyframes startAnimPhrase7 {
    0% { opacity: 1; left: 35%; top: 90%; }
    100% { opacity: 1; left: 55%; top: 40%; }
  }
  .phrases {
    width: 800px;
    background-color: white;
    position: absolute;
    top: 30%;
    left: 65%;
    font-size: 40px;
    transform: translate(-50%, -50%);
    z-index: 5;
    padding: 30px;
    border-radius: 25px;
  }

  .phrases:hover {
    transition: .2s ;
    scale: 1.05;
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.9);
  }
  .phrase1::before {
    content: 'Добро пожаловать в Dinero, тут вы сможете анализировать свои расходы и доходы, и научитесь контролировать свой бюджет. А я помогу вам с этим !';
  }
  .phrase1{
    font-size: 20px;
    width: 400px;
    animation: startAnimPhrase .9s forwards ease-out;
  }

  .phrase2::before {
    content: 'Это главное окно, где вы видите свои раходы и доходы в виде диаграммы. Пока что диаграммы нет, потому что еще нет введённых данных, давайте исправим это!';
  }
  .phrase2{
    animation: startAnimPhrase2 .9s forwards ease-out;
    font-size: 20px;
    width: 350px;
  }

  .phrase3::before {
    content: 'Первым делом вам нужно создать аккаунт или войти в уже существующий. Вы можете сделать это, нажав на иконку человечка в верхней правой части экрана.';

  }

  .phrase3 {
    animation: startAnimPhrase3 .9s forwards ease-out;
    font-size: 20px;
    width: 400px;
  }

  .phrase4::before {
    content: 'После этого вы увидите свои категории и сможете добавлять данные в диаграмму. Чтобы переключаться между доходами и расходами, выберите "Доходы" или "Расходы".';
  }

  .phrase4 {
    font-size: 20px;
    width: 400px;
    animation: startAnimPhrase4 .9s forwards ease-out;
  }

  .phrase5::before {
    content: 'Для добавления новых категорий введите название категории и нажмите "Добавить категорию".';
  }

  .phrase5 {
    font-size: 20px;
    width: 400px;
    animation: startAnimPhrase5 .9s forwards ease-out;
  }

  .phrase6::before {
    content: 'Все совершенные операции вы можете увидеть в разделе "Операции" в нижней левой части экрана.';
  }

  .phrase6 {
    font-size: 20px;
    width: 400px;
    animation: startAnimPhrase6 .9s forwards ease-out;
  }

  .phrase7::before {
    content: 'Видите? Ничего сложного. Удачи вам и будьте внимательны с деньгами!';
  }

  .phrase7 {
    font-size: 20px;
    width: 400px;
    animation: startAnimPhrase7 .9s forwards ease-out;
  }

  .coinEmoji1 {
    animation: coinAnim 5s infinite, startAnimCoin .5s forwards ease-out;
  }

  .coinEmoji2{
    animation: coinAnim 5s infinite, startAnimCoin2 .5s forwards ease-out;
  }

  .coinEmoji3 {
    animation: coinAnim 5s infinite, startAnimCoin3 1s forwards ease-out;
  }

  .coinEmoji4 {
    animation: coinAnim 5s infinite, startAnimCoin4 .5s forwards ease-out;
  }

  .coinEmoji5 {
    animation: coinAnim 5s infinite, startAnimCoin5 1s forwards ease-out;
  }

  .coinEmoji6 {
    animation: coinAnim 5s infinite, startAnimCoin6 .5s forwards ease-out;
  }

  .coinEmoji7 {
    animation: coinAnim 5s infinite, startAnimCoin7 1s forwards ease-out;
  }

  button:disabled {
    opacity: 0.5;
  }

 .refresh {
  position: absolute;
  cursor: pointer;
  z-index: 1;
 }

 .refresh:hover {
  animation: spin 1s linear infinite;
 }

 .monthBlock {
  position: absolute;
  z-index: 1;
  top: 80px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
 }
 
 .monthBlock > p {
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  user-select: none;
 }

 .currentMonth {
  width: 120px;
 }

 .nextMonth, .prewMonth {
  width: 34px;
  border-radius: 5px;
 }
 .dark-theme .nextMonth:hover, .dark-theme .prewMonth:hover {

  background: #fff2d7;
  color: #201c25;
 }
 
 .light-theme .nextMonth:hover, .light-theme .prewMonth:hover {
  background: #201c25;
  color: #fff2d7;
  text-align: center;
  justify-content: center;
  display: flex;
 }

 .nextMonth:active, .prewMonth:active {
  scale: 0.95;
 }

@media screen and (max-width: 480px) {
  
}